/* Navbar */
body {
    padding-top: 5rem !important;
}

body,
html {
    width: 100%;
    height: 100%;
}


.navbar-brand img {
    width: 100px;
    /*display: left;*/
    outline: none
}

nav {
    background: rgb(122, 145, 174);
    text-decoration: none;
}

.nav-item {
    text-transform: uppercase;
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(122, 145, 174);
    color: white;
    text-align: center;
}

.footertext {
    margin: 5px;
}

/* Botones */

.boton1 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 170px;
    color: #869DBC;
    border-color: #869DBC;
    border-radius: 40px;
}

    .boton1:hover {
        background-color: #869DBC;
        color: white;
        border-color: #869DBC;
    }

.boton2 {
    background-color: #869DBC;
    color: white;
    border-color: #869DBC;
    width: 170px;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

    .boton2:hover {
        background-color: white;
        color: #869DBC;
        border-color: #869DBC;
    }

/* Botón input */

.fileContainer {
    overflow: hidden;
    position: relative;
}

    .fileContainer [type=file] {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        background-color: #869DBC !important;
    }

.botoninput1 {
    background-color: #869DBC;
    color: white;
    border-color: #869DBC;
    width: 170px;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

    .botoninput1:hover {
        background-color: white;
        color: #869DBC;
        border-color: #869DBC;
    }

.botoninput2 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 170px;
    color: #869DBC;
    border-color: #869DBC;
    border-radius: 40px;
}

    .botoninput2:hover {
        background-color: #869DBC;
        color: white;
        border-color: #869DBC;
    }

.botoninput3 {
    width: 345px !important;
}


/* Dropdownlist */
.dropdown1 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 170px;
    color: #869DBC;
    border-color: #869DBC;
    border-radius: 40px;
    overflow-wrap: normal;
}

    .dropdown1:hover {
        background-color: #869DBC;
        color: white;
        border-color: #869DBC;
    }

    .dropdown1:active {
        background-color: #869DBC;
        color: white;
        border-color: #869DBC;
    }

    .dropdown1:not(:disabled):not(.disabled).active,
    .dropdown1:not(:disabled):not(.disabled):active,
    .show > .dropdown1.dropdown-toggle {
        background-color: #869DBC;
        color: white;
        border-color: #869DBC;
        overflow-wrap: break-word;
    }

.dropdown2 {
    background-color: #869DBC;
    color: white;
    border-color: #869DBC;
    width: 170px;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-wrap: normal;
}

    .dropdown2:hover {
        background-color: white;
        color: #869DBC;
        border-color: #869DBC;
    }

    .dropdown2:active {
        background-color: white;
        color: #869DBC;
        border-color: #869DBC;
    }

    .dropdown2:not(:disabled):not(.disabled).active,
    .dropdown2:not(:disabled):not(.disabled):active,
    .show > .dropdown2.dropdown-toggle {
        background-color: white;
        color: #869DBC;
        border-color: #869DBC;
        overflow-wrap: break-word;
    }
.dropdown3 {
    border-color: #869DBC !important;
    border-width: 1.8px !important;
}

/* TextBox */

.textbox1 {
    border: 2.3px solid #869DBC;
    width: 315px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textbox2 {
    border: 2.3px solid #869DBC;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Tabla */
.tabla1 {
    background-color: #869DBC !important;
    border-color: #869DBC !important;
}

/* ICONS */
.replayicon1 {
    background-color: #869DBC;
    border-radius: 5px;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

    .replayicon1 i {
        color: white;
        padding-top: 5px;
    }


/* EXTRAS */
.titles {
    color: #869DBC;
    margin-top: 15px;
    margin-left: 15px;
}

.subtitle {
    color: #869DBC;
    margin-top: 15px;
}


/* LOGIN */

.fondo {
    background-image: url('../../Content/img/background2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundlogin {
    background-color: white;
    padding-top: 55px;
    padding-bottom: 70px;
}

.verticalalign {
    margin-top: 22%;
}

.botonlogin {
    background-color: #3498DB;
    border: none;
    color: white;
    float: right;
    padding: 5px;
    cursor: pointer;
    
}

    .botonlogin:hover {
        background-color: #2874A6;
    }

.formholder {
    border-radius: 0 !important;
}

/* INICIO */


.botoninicio {
    width: 100%;
    height: 550px;
    text-shadow: 0px -2px #2980B9;
    border-radius: 10px;
    cursor: pointer;
}


.iconosinicio {
    font-size: 250px !important;
    color: white;
}

.tituloinicio {
    color: white !important;
}

.separacioninicio {
    margin-bottom: 15px !important;
}

.titulobienvenido {
    color: #869DBC;
    text-align: center;
    font-size: 50px;
    padding-bottom: 1%;
}

.action-button:active {
    transform: translate(0px,7px);
    -webkit-transform: translate(0px,7px);
    border-bottom: 0px solid;
}

.animate {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.blue {
    background-color: #3498DB;
    border-bottom: 14px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red {
    background-color: #E74C3C;
    border-bottom: 14px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green {
    background-color: #82BF56;
    border-bottom: 14px solid #669644;
    text-shadow: 0px -2px #669644;
}

/*********************** PRELOADER **************************************/

#loader-wrapper{
	position: 										fixed;
	top: 											0;
	left: 											0;
	width: 											100%;
	height: 										100%;
	z-index: 										100;
	background-color: 								#fff;
}

#loader{
	display: 										block;
	position: 										relative;
	left: 											50%;
	top: 											50%;
	width: 											100px;
	height: 										100px;
	margin: 										-50px 0 0 -50px;
	border: 										6px solid #556270;
	z-index: 										150;
}

#loader:before {
    content: 										"";
    position: 										absolute;
    top: 											5px;
    left: 											5px;
    right: 											5px;
    bottom: 										5px;
    border: 										4px solid #4ECDC4;
}

#loader:after {
    content: 										"";
    position: 										absolute;
    top: 											15px;
    left: 											15px;
    right: 											15px;
    bottom: 										15px;
    border: 										2px solid #C7F464;
}

/**************************** ANIMACION ************************************/

#loader {
-webkit-animation: giro 10s linear infinite;
animation: giro 10s linear infinite;
}

#loader:before {
-webkit-animation: giro 5s reverse infinite;
animation: giro 5s linear infinite;
}

#loader:after {
-webkit-animation: giro 2s linear infinite;
animation: giro 2s linear infinite;
}

@-webkit-keyframes giro {
    0%{
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100%{
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes giro {
    0%{
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100%{
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
/*EXTRAS*/
.contorno {
    border-color: #869DBC !important;
    border-width: 1.8px !important;
}