@{
    ViewBag.Title = "Home Page";
}

<main role="main" class="container">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="titulobienvenido">BIENVENIDO</h2>
                <hr />
            </div>
            <div class="col-md-4">
                <form method="get" action="@Url.Action("CajeroReceptorIndex", "Reportes")">
                    <button class="btn botoninicio separacioninicio animate action-button green">
                        <i class="material-icons iconosinicio">local_atm</i>
                        <h3 class="tituloinicio">CAJERO</h3>
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <form method="get" action="@Url.Action("TurnoCarrilesIndex", "Reportes")">
                    <button class="btn botoninicio separacioninicio animate action-button red">
                        <i class="material-icons iconosinicio">assignment_turned_in</i>
                        <h3 class="tituloinicio">TURNO</h3>
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <form method="get" action="@Url.Action("DiaCasetaIndex", "Reportes")">
                    <button class="btn botoninicio separacioninicio animate action-button blue">
                        <i class="material-icons iconosinicio">today</i>
                        <h3 class="tituloinicio">DÍA</h3>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main><!-- /.container -->