@{
    ViewBag.Title = "Home Page";
}

<main role="main" class="container">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="titulobienvenido">BIENVENIDO</h2>
                <hr />
            </div>
            <div class="col-md-4">
                <form method="get" action="@Url.Action("CajeroReceptorIndex", "Reportes")">
                    <button class="btn botoninicio separacioninicio animate action-button green">
                        <img src="~/Content/img/local.svg" style="height:auto; width:140px;" />
                        <h3 class="tituloinicio">CAJERO</h3>
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <form method="get" action="@Url.Action("TurnoCarrilesIndex", "Reportes")">
                    <button class="btn botoninicio separacioninicio animate action-button red">
                        <img src="~/Content/img/turno.svg" style="height:auto; width:140px;" />
                        <h3 class="tituloinicio">TURNO</h3>
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <form method="get" action="@Url.Action("DiaCasetaIndex", "Reportes")">
                    <button class="btn botoninicio separacioninicio animate action-button blue">
                        <img src="~/Content/img/today.svg" style="height:auto; width:140px;" />
                        <h3 class="tituloinicio">DÍA</h3>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main><!-- /.container -->